/* Pink Button */
.btnPink {
    padding: 5px 7px;
    color: palevioletred;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid palevioletred;
    outline: none;
}

.btnPink:hover {
    background-color: palevioletred;
    color: #fff;
}

/* textPink */
.textPink {
    color: palevioletred;
    text-decoration: none;
}

/* Header */
/* Logo */
.logo {
    height: 40px;
}

@media only screen and (max-width: 600px) {
    .logo {
        height: 25px;
    }
  }

/* searchContainer */
.searchContainer {
    background-color: #fff !important;
    padding: 20px 10px;
}

/* Post */

.cardFooter {
    margin-top: 10px;
    padding: 5px 20px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.likeIcon {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.likeIcon p {
    margin-left: 5px;
}

/* deleteBtn */
.deleteBtn {
    text-decoration: underline;
    color: red;
    cursor: pointer;
}

/* card */
.card {
    border-radius: 5px;
}

/* SPINNER START */

.SpinnerPink {
    color: palevioletred !important;
  }
  
  /* SPINNER END */
  